@media screen and (max-width:768px){
 body{
    width: 100%;
    height: auto;
    margin: 0;
 }
 .title{
    padding-top: 5vw;
 }
 .menu_list{
    width: 100%;
    height: auto;
 }
 .pickup_contents{
    display: block;
    width: 100%;
    margin: 0 ;
 }
 .pickup_contents article{
    width: 100%;
    height: auto;
    margin: 0;
 }
 .main{
    display: block;
 }
 .main_left{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
 }
 .main_left article{
    width: 100%;
    height: auto;
    margin: 0;
 }
 .main_right{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
 }

 .main_right article{
    width: 100%;
    height: auto;
    margin: 0;
 }
 .footer_contents{
    display: block;
 }



}